conf/conf.dtd

<!ELEMENT configuration (global, entry+)>

<!ELEMENT global (stream-server, stream-port, stream-pass, stream-type, jnlp-path, img-base)>

<!ELEMENT entry (mount-point, name, desc, source, fps, resolution, sec-per-img)>

<!ELEMENT stream-server (#PCDATA)>
<!ELEMENT stream-port (#PCDATA)>
<!ELEMENT stream-pass (#PCDATA)>
<!ELEMENT stream-type (#PCDATA)>
<!ELEMENT jnlp-path (#PCDATA)>
<!ELEMENT img-base (#PCDATA)>

<!ELEMENT mount-point (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT desc (#PCDATA)>
<!ELEMENT source (#PCDATA)>
<!ELEMENT fps (#PCDATA)>
<!ELEMENT resolution (#PCDATA)>
<!ELEMENT sec-per-img (#PCDATA)>

<!ATTLIST entry mode (loop-dir|realtime) "loop-dir">
