conf/conf.dtd

<!ELEMENT configuration (global, entry+)>

<!ELEMENT global (stream-server, stream-port, stream-pass, stream-type, jnlp-path, img-base)>

<!ELEMENT entry (mount-point, name, desc, source, fps, resolution, sec-per-img, region?, subchannels?)>

<!ELEMENT stream-server (#PCDATA)>
<!ELEMENT stream-port (#PCDATA)>
<!ELEMENT stream-pass (#PCDATA)>
<!ELEMENT stream-type (#PCDATA)>
<!ELEMENT jnlp-path (#PCDATA)>
<!ELEMENT img-base (#PCDATA)>

<!ELEMENT mount-point (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT desc (#PCDATA)>
<!ELEMENT source (#PCDATA)>
<!ELEMENT fps (#PCDATA)>
<!ELEMENT resolution (#PCDATA)>
<!ELEMENT sec-per-img (#PCDATA)>
<!ELEMENT subchannels (channel+)>
<!ELEMENT channel EMPTY>
<!ELEMENT region (top, left, height, width)>
<!ELEMENT top (#PCDATA)>
<!ELEMENT left (#PCDATA)>
<!ELEMENT height (#PCDATA)>
<!ELEMENT width (#PCDATA)>

<!ATTLIST entry	xml:id ID #IMPLIED
		mode (loop-dir|realtime) "loop-dir">

<!ATTLIST channel href IDREF #REQUIRED>
